.addLesson {
  position: relative;
  width: 100%;
  height: 93vh;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4px;
  text-align: center;
  overflow: scroll;
  background-color: white;
  padding: 10px;
  overflow-x: hidden;
}

.labelx::after{
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

.contx{
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s, padding 0.8s;
}

.addLesson input[type="checkbox"]:checked + label + .contx{
  max-height: 600px;
  padding: 10px 10px;
}


