* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#141e30, #243b55);
  color: white;
  /* background-image: url(assets/img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.container h2{
    margin: 0 0 30px;
}

.input{
    position: relative;
}

.input input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  display: inline;
}

#lbl-2{
  position: absolute;
  display: none;
  top: -50px;
  padding: 10px 3px;
  border-radius: 5px;
  font-size: 16px;
  background-color: red;
  color: black;
  position: relative;
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color:rgb(255, 0, 0); left:0px; top:0px;}
    10%  {background-color:rgb(255, 255, 0); left:45px; top:0px;}
    20%  {background-color:rgb(51, 255, 0); left:90px; top:0px;}
    30%  {background-color:rgb(0, 255, 64); left:135px; top:0px;}
    40%  {background-color:rgb(0, 255, 255); left:180px; top:0px;}
    50%  {background-color:rgb(17, 0, 255); left:225px; top:0px;}
    60%  {background-color:rgb(255, 255, 0); left:180px; top:0px;}
    70%  {background-color:rgb(234, 0, 255); left:135px; top:0px;}
    80%  {background-color:rgb(128, 0, 60); left:90px; top:0px;}
    90%  {background-color:rgb(0, 131, 0); left:45px; top:0px;}
    100% {background-color:rgb(255, 0, 0); left:0px; top:0px;}
  }